* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

// global classes
%font-xs {
  font-size: $fs-xs;
  font-weight: $fw-md;
}

%font-sm {
  font-size: $fs-sm;
  font-weight: $fw-reg;
}

%font-smmd {
  font-size: $fs-sm;
  font-weight: $fw-md;
}

%font-lg {
  font-size: $fs-lg;
  font-weight: $fw-bold;
}

%font-xl {
  font-size: $fs-xl;
  font-weight: $fw-bold;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea,
select {
  @include border;
  padding: 6px;
}

button {
  border: 0;
}

.error {
  @extend %font-sm;
  color: $red-color;
}

.errorfield {
  border: 1px solid $red-color;
}

.successfield {
  border: 1px solid $green-color;
}

.btn--primary {
  @include border;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white-color;
  padding: 4px;
}

//form css
.logo {
  height: 80px;
  margin: 0 20px;
  width: 130px;

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}

.container {
  .side-menu {
    background-color: $primary-color;
    color: $white-color;
    height: 100%;
    position: fixed;
    width: 200px;
  }

  .main-content {
    height: 100%;
    margin-left: 224px;
    overflow: auto;
    width: 52em;

    &__heading {
      @extend %font-xl;
      margin-bottom: 20px;
    }

    &__para {
      @extend %font-sm;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
}

form {
  .form-group {
    @include flex-column;
    margin-bottom: 14px;
    width: 30rem;

    &--disabled {
      color: $gray-color;
      opacity: 50%;

      input {
        border-color: $light-gray;
      }
    }

    &__radio {
      margin-bottom: 20px;

      label {
        @extend %font-smmd;
      }
    }

    &__heading {
      @extend %font-lg;
      margin-bottom: 20px;
    }

    &__label {
      @extend %font-smmd;
      margin-bottom: 2px;
    }

    &__input {
      @extend %font-sm;
    }

    input[type='file'] {
      display: none;
    }

    &__upload {
      @extend %font-smmd;
      @include border;
      border-color: $primary-color;
      color: $primary-color;
      cursor: pointer;
      display: inline-block;
      margin: 8px 0;
      padding: 6px 12px;
      width: 8rem;
    }

    &__para {
      @extend %font-xs;
    }

    &__button {
      @extend %font-smmd;
      cursor: pointer;
      padding: 8px;
      width: 10rem;
    }
  }
}
