// ******* font-family **********
@font-face {
  font-family: Montserrat;
  src: url('../Montserrat-Regular.ttf') format('truetype'),
  url('../Montserrat-Medium.ttf') format('truetype'),
  url('../Montserrat-Bold.ttf') format('truetype');
}

// ******** font-size ***********
$fs-xs: 12px;
$fs-sm: 14px;
$fs-lg: 18px;
$fs-xl: 32px;

// ********* font-weight ***********
$fw-reg: 400;
$fw-md: 500;
$fw-bold: 700;

